# Ignore everything
*

# But not these files...
!.gitignore
!**/InfiniteColors.dll
!**/FaceCustomization.dll

# Additionally, don't ignore specific directories (if necessary)
# !/path/to/directory/

# And don't ignore specific file types you might need (e.g., project files)
!*.csproj
!*.sln
!*.cs

